  <head>
    <title>Debian OPW donations </title>
    <meta name="keywords" content="debian opw gnome women" />
    <meta name="description" content="Debian Outreach Program for Women matching drive" />
    <meta name="Content-Language" content="en" />
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index,follow,noarchive" />
    <meta charset="utf-8" />
    <meta lang = "en" />
    <style media="screen" type="text/css">
        p {text-align: justify;}
        #matchfund-progress {
                width: 90%;
        }
    </style>
    <script type="text/javascript" src="script.js"></script>
  </head>

<head>
<style>
hr {color:sienna;}
p {margin-left:20px;}
body {background-image:url("images/back40.gif");}
</style>
</head>


<div id="main-content">

 <h2>Monetary support from individuals</h2>

 <p>One of Debian's sponsors has offered to start a matching fund in USD to fund Debian's participation in the Gnome Foundation's OPW (Outreach Program for Women). Please see the Debian Project News <a href="http://www.debian.org/News/weekly/2013/18/#opwmatch">article</a> for more information.
 </p>
 <ul>
   <li>for each dollar donated by an individual to Debian through the mechanism, the sponsor will donate another dollar to Debian; </li>
   <li>individual donations will be matched only up to <em>200 USD</em> each;</li>
   <li>only donations in USD will be matched;</li>
   <li>the sponsor will match the donated funds up to a maximum total of
       <em>2 500 USD</em>;</li>
   <li>All monies raised through this program, will be earmarked for OPW
       participation, either in 2013 or in the future;</li>
   <li> This program will be in place until Nov 14th, so please act quickly!</li>
 </ul>

 <h3>Debian OPW <em>matching fund</em></h3>

 <p>If you want your monetary contribution to be matched by our sponsor, please
    use this PayPal button before Nov 14th:</p>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="text-align: center;">
   <input type="hidden" name="cmd" value="_s-xclick" />
   <input type="hidden" name="hosted_button_id" value="8BH87ZJBEVWBL" />
   <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
   <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>
 <p>If you wish to contribute, and you can not use paypal please contatct <a href="mailto:donations@debian.org">donations@debian.org</a> to make alternate payment arrangements.</p>
 <p>Thank you!</p>

<script src="http://www.debian.ch/status/debian-2013-opw.js.php"></script>

<p>We already raised <span id="matchfund-value"></span> USD, thanks to all!</p>
<div><progress id="matchfund-progress" value="0" max="2500"></progress> <span id="matchfund-perct"></span></div>

<script type="text/javascript">
//<![CDATA[
        eltBar = document.getElementById("matchfund-progress")
        eltBar.value = debian_2013_opw_current;
        eltVal = document.getElementById("matchfund-value")
        eltVal.innerHTML = debian_2013_opw_current;
        eltPct = document.getElementById("matchfund-perct")
        eltPct.innerHTML = Math.round(eltBar.position * 1000)/10 + "%"
//]]>
</script>

</div>
